.battlefield {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.swordfighter {
  height: 20vh;
}

.monster {
  height: 40vh;
}

.distance {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.choices {
  display: flex;
  justify-content: space-around;
}